body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #1a1a24; /* Un tono un poco más oscuro */
    color: white;
    font-family: sans-serif;
    flex-direction: column;
}

canvas {
    background-color: #f0f0f5;
    border: 4px solid #555;
    border-radius: 8px;
    cursor: crosshair;
    box-shadow: 0 10px 30px rgba(0,0,0,0.5);
}

h2 {
    margin-bottom: 5px;
    color: gold;
}

p { 
    margin-top: 15px; 
    color: #bbb; 
    font-size: 0.95rem;
}