:root {
    --bg-dark: #050505;
    --chrome-light: #ffffff;
    --cyan-neon: #00f0ff;
    --cyan-glow: rgba(0, 240, 255, 0.4);
    --sigil-font: 'Cinzel Decorative', serif; /* Fuente Afilada */
}

body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000;
    background-image: radial-gradient(circle at center, #111 0%, #000 100%);
    font-family: var(--sigil-font);
    color: white;
    overflow: hidden;
}

#game-container {
    position: relative;
    width: 800px;
    height: 900px;
    max-height: 95vh; 
    box-shadow: 0 0 40px rgba(0, 240, 255, 0.1), inset 0 0 50px #000;
    border-radius: 2px;
    border: 1px solid #333;
}

canvas {
    display: block;
    width: 100%;
    height: 100%;
    background-color: var(--bg-dark);
    cursor: crosshair;
}

#ui-layer {
    position: absolute;
    top: 0; left: 0; width: 100%; height: 100%;
    pointer-events: none;
}

#score-display {
    position: absolute;
    top: 20px; left: 30px;
    font-size: 38px;
    font-weight: bold;
    color: var(--chrome-light);
    text-shadow: 0 0 15px var(--cyan-glow);
    letter-spacing: 4px;
}

#stamina-container {
    position: absolute;
    bottom: 30px; left: 50%;
    transform: translateX(-50%);
    width: 400px; height: 6px; /* Más fina y elegante */
    background: rgba(0, 0, 0, 0.8);
    border: 1px solid #555;
    box-shadow: 0 0 10px rgba(0,0,0,0.8);
}

#stamina-bar {
    width: 100%; height: 100%;
    background: var(--chrome-light);
    box-shadow: 0 0 10px var(--chrome-light);
    transition: width 0.1s linear, background-color 0.3s;
}

#stamina-bar.low {
    background: var(--cyan-neon);
    box-shadow: 0 0 15px var(--cyan-neon);
}

#message-overlay {
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    background: rgba(0, 0, 0, 0.9);
    padding: 40px 60px;
    border: 1px solid var(--chrome-light);
    display: none;
    pointer-events: auto;
    cursor: pointer;
    box-shadow: 0 0 40px var(--cyan-glow);
}

#message-overlay.visible {
    display: block;
}

h2 { 
    margin: 0; 
    color: var(--chrome-light); 
    font-size: 48px; 
    letter-spacing: 8px;
    text-shadow: 0 0 20px rgba(255,255,255,0.6);
}

p { margin: 15px 0 0 0; color: #aaa; font-size: 1.2rem; letter-spacing: 2px; }